profiles {
    // Cancer Genome Collaboratory
    collab {
        params {
            study_id = 'TEST-PR'
            api_token = 'place-holder'
            song_url = 'https://song.covid.cancercollaboratory.org/'
            score_url = 'https://score.covid.cancercollaboratory.org/'
            analysis_id = '49038e16-86e6-4b4f-838e-1686e65b4f9f'
        }

        docker{
            enabled = true
            fixOwnership = true
            runOptions = "-u \$(id -u):\$(id -g)"
        }

        if (params.illumina) {
            process.container = "quay.io/junjun_zhang/artic-ncov2019-illumina"
        } else {
            process.container = "quay.io/junjun_zhang/artic-ncov2019-nanopore"
        }
    }

    collabnodocker {
        params {
            study_id = 'TEST-PR'
            api_token = 'place-holder'
            song_url = 'https://song.covid.cancercollaboratory.org/'
            score_url = 'https://score.covid.cancercollaboratory.org/'
            analysis_id = '49038e16-86e6-4b4f-838e-1686e65b4f9f'
        }
    }
}
